h3{
    margin-top: 40px;
    text-align: center;
}
main{
    height: auto;    
}

main p{
    margin-top: 13.4%;
    color: gray;
    text-align: center;
}

footer{
    position: static;
}

@media screen and (max-width: 760px) {
    footer{
        padding-bottom:150px
    }

    h3{
        font-size: 16px;
    }
    
}

@media screen and (min-width: 760px) {
    footer{
        padding-bottom:195px
    }
    
}
